@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Inter', sans-serif;
    color: $black;
    margin: 0;
    padding: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}

button {
    outline: none!important;
    transition-duration: .5s;
    border: none;
    // &:active {
    //     transform: scale(1.02)
    // }
}

form {
    input {
        outline: none!important;
    }
}

.main-body {
    max-width: 1440px;
    margin: 0 auto;
}

body.active {
    overflow: hidden;
}

.main-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 3px;
}

.new-line {
    display: block;
}

.bold_600 {
    font-weight: 600;
    color: inherit;
}

.bold_700 {
    font-weight: 700;
    color: inherit;
}

.col_green {
    color: #0C999C;
}

.col_a-green {
    color: #14b4b7;
}

.col_light-green {
    color: #66E0E2;
}

@import 'blocks/header';
@import 'blocks/titles';
@import 'blocks/_btn';
@import 'blocks/promo';
@import 'blocks/salle';
@import 'blocks/system-sale';
@import 'blocks/mentor';
@import 'blocks/incrase';
@import 'blocks/learn';
@import 'blocks/admin';
@import 'blocks/plane';
@import 'blocks/step';
@import 'blocks/level';
@import 'blocks/learn-team';
@import 'blocks/form';
@import 'blocks/recomend';
@import 'blocks/book';
@import 'blocks/request';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';