.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: $black;
    &_step {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #2B3541;
    }
    &_salle {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 72px;
    }
    &_plane {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: $black;
    }
}

.subtitle {
    color: $gray;
    font-weight: 600;
    font-size: 16px;
    &_promo {
        font-weight: 400;
        font-size: 20px;
        color: #667085;
    }
}